bin/
obj/
node_modules/
%TEMP%/
IMG_E0697.MOV
Ijinja.Web/publish-test/
Ijinja.Web/ClientApp/public/content/assets/IMG_E0697_frames/
Ijinja.Web/ClientApp/public/content/products/*.backup-*.png
Ijinja.Web/ClientApp/.dev.vars
